<h1 class="text-2xl font-bold text-white">@Title</h1>

<div class="mx-auto px-8">
    <div class="py-4">
        @ChildContent  
    </div>
</div>

@code {
	[Parameter]
	public string? Title { get; set; }

	[Parameter]
	public RenderFragment? ChildContent { get; set; }
}