@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using StarcraftOrganizer.Components.Shared.Sidebar
@using StarcraftOrganizer.Data.Entities
@inject UserManager<Player> UserManager
@inject AuthenticationStateProvider AuthStateProvider
@inject CurrentUserService CurrentUserService

@inherits LayoutComponentBase

<div class="flex h-screen bg-gradient-to-br from-[#0a0a23] via-[#1f1f3c] to-black text-white">
    <AuthorizeView>
        <Authorized>
            <SideBar SignedInPlayer="SignedInPlayer" />
        </Authorized>
        <NotAuthorized>

        </NotAuthorized>
    </AuthorizeView>

    <main class="flex-1 overflow-y-auto px-4 py-6 sm:px-6 lg:px-2">
        @Body
    </main>
</div>

@code {

    [Inject]    
    SignInManager<Player> SignInManager { get; set; }

    [Inject]   
    NavigationManager NavigationManager { get; set; }


    private Player? SignedInPlayer;

    private async Task Logout()
    {
        await SignInManager.SignOutAsync();
        NavigationManager.NavigateTo("/");
    }

    protected override async Task OnInitializedAsync()
    {
        SignedInPlayer = await CurrentUserService.GetCurrentUserAsync();
    }

    private void NotifyStateChanged()
    {
         StateHasChanged(); 
    }
}
