@using StarcraftOrganizer.Components.Shared.Sidebar
@inherits LayoutComponentBase


<div class="flex h-screen bg-gradient-to-br from-[#0a0a23] via-[#1f1f3c] to-black text-white">

  
    <SideBar UserName="Test Användare" /> 
  

    @* Huvudinnehåll som tar upp resterande plats och är scrollbart *@
    <main class="flex-1 overflow-y-auto px-4 py-6 sm:px-6 lg:px-2">
        @Body
    </main>
</div>

@code {





    private void NotifyStateChanged()
    {
         StateHasChanged(); 
    }
}
