 @page "/Challenges"

@using Microsoft.AspNetCore.Authorization
@inject ChallengeService _challengeService



<Page>
    <ChildContent>
        <h1 class="text-3xl font-bold text-white text-center">Utmaningar</h1>
        @if(AllChallenges != null)
        {
            @foreach (var challenge in AllChallenges)
            {
                <ChallengeCard Challenge="challenge" />
            }
        }
        else
        {
            <div>laddar...</div>
        }

    </ChildContent>
</Page>

@code {
    public List<Challenge> AllChallenges { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AllChallenges = await _challengeService.GetAllChallengesAsync();

    }
}
