@page "/"
@using StarcraftOrganizer.Components.Shared.Player

<Page Title="" >
    <ChildContent>
        <h1 class="text-3xl font-bold underline">
            Hello world!
        </h1>

        <div class="grid grid-cols-4">
            <span class="col-span-1">
                <PlayerCard PlayerName="MarineLord" Race="Terran" Wins="24" Losses="18" WinPercentage="57" />
            </span>
                <PlayerCard PlayerName="Serral" Race="Zerg" Wins="35" Losses="12" WinPercentage="74" />
            <span class="col-span-1">
                <PlayerCard PlayerName="ShoWTimE" Race="Protoss" Wins="28" Losses="15" WinPercentage="65" />
            </span>
            <span class="col-span-1">
                <PlayerCard PlayerName="Maru" Race="Terran" Wins="38" Losses="14" WinPercentage="68" />
        </span>
    </div>
        <div class="m-10 flex min-w-full flex-auto">
            <p class="text-center text-sm font-semibold text-red-600 hover:text-green-500">
                HÄr är massa text som man kan styla med tailwind
            </p>
        </div>
        <div class="m-10 flex min-w-full flex-auto">
            <p class="text-center text-sm font-semibold text-red-600 hover:text-green-500">
                HÄr är massa text som man kan styla med tailwind
            </p>
        </div>
            <div class="m-10 flex min-w-full flex-auto">
        <p class="text-center text-sm font-semibold text-red-600 hover:text-green-500">
            HÄr är massa text som man kan styla med tailwind
        </p>
    </div>
        <div class="m-10 flex min-w-full flex-auto">
            <p class="text-center text-sm font-semibold text-red-600 hover:text-green-500">
                HÄr är massa text som man kan styla med tailwind
            </p>
        </div>
        <div class="m-10 flex min-w-full flex-auto">
            <p class="text-center text-sm font-semibold text-red-600 hover:text-green-500">
                HÄr är massa text som man kan styla med tailwind
            </p>
        </div>
            <div class="m-10 flex min-w-full flex-auto">
        <p class="text-center text-sm font-semibold text-red-600 hover:text-green-500">
            HÄr är massa text som man kan styla med tailwind
        </p>
    </div>
        <div class="m-10 flex min-w-full flex-auto">
            <p class="text-center text-sm font-semibold text-red-600 hover:text-green-500">
                HÄr är massa text som man kan styla med tailwind
            </p>
        </div>
        <div class="m-10 flex min-w-full flex-auto">
            <p class="text-center text-sm font-semibold text-red-600 hover:text-green-500">
                HÄr är massa text som man kan styla med tailwind
            </p>
        </div>
            <div class="m-10 flex min-w-full flex-auto">
        <p class="text-center text-sm font-semibold text-red-600 hover:text-green-500">
            HÄr är massa text som man kan styla med tailwind
        </p>
    </div>
        <div class="m-10 flex min-w-full flex-auto">
            <p class="text-center text-sm font-semibold text-red-600 hover:text-green-500">
                HÄr är massa text som man kan styla med tailwind
            </p>
        </div>
    </ChildContent>
</Page>
